@charset "utf-8";
/* CSS Document */

/*------ BASIC FORMATTING ----------------------------------------------------*/
html{
  margin: 0 auto;
  border: 0 auto;
}


/*------ BLOCKING/LAYOUT -----------------------------------------------------*/
body{
  background-image: url("twinkle0.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #F7F3DE;
}



h1{
  font-family: 'Press Start 2P', cursive;
  color: #f4f3ee;
  background-position:center;
  cursor:default;
  text-align: center;
}

h2{
  font-family: 'Press Start 2P', cursive;
  color: #f4f3ee;
  background-position:center;
  cursor:default;
  text-align: center;
  font-size: 50px;
}


.a2{
  color: #f4f3ee;
  cursor: pointer;
}
.Brenna{
  color: #f4f3ee;
  cursor: pointer;
}

.Anai{
  color: #f4f3ee;
  cursor: pointer;
}

.Alyssa{
  color: #f4f3ee;
  cursor: pointer;
}

.Jonathan{
  color: #f4f3ee;
  cursor: pointer;
}

.ReturnMenu{
  font-family: 'Press Start 2P', cursive;
  animation-name: example;
  color: #f4f3ee;
  margin:60px;
  padding-top:100px;
  list-style-type:none;
  text-align: center;
  font-size: 22px;
  pointer-events: auto;
}

.Contributors{
  font-family: 'Press Start 2P', cursive;
  animation-name: example;
  color: #f4f3ee;
  margin:60px;
  padding-top: 0;
  list-style-type:none;
  text-align: center;
  font-size: 22px;
  pointer-events: auto;
}

/*------ TYPOGRAPHY ----------------------------------------------------------*/
p{
  font-family: 'Quicksand', sans-serif;
  color: #f4f3ee;
  line-height: 140%;
  margin: 30px;
}


.Brenna:hover{
  color: cyan;
  transition-duration: 2s;
}

.Anai:hover{
  color: cyan;
  transition-duration: 2s;
}

.Alyssa:hover{
  color: cyan;
  transition-duration: 2s;
}

.Jonathan:hover{
  color: cyan;
  transition-duration: 2s;
}




.a2:hover{
  font-weight: bold;
  font-size: 32px;
}
