@charset "utf-8";
/* CSS Document */

/*------ BASIC FORMATTING ----------------------------------------------------*/
html{
  margin: 0 auto;
  border: 0 auto;
}


/*------ BLOCKING/LAYOUT -----------------------------------------------------*/
body{
  background-image: url("twinkle.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #F7F3DE;

}

/*------ TYPOGRAPHY ----------------------------------------------------------*/
p{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #f4f3ee;
  line-height: 140%;
  margin: 30px;
  text-shadow: 1px 1px #0a1225;
}


h1{
  font-family: 'Press Start 2P', cursive;
  color: #f4f3ee;
  background-position:center;
  cursor:default;
  text-align: center;
}


/*------ OTHER DESGINGING ----------------------------------------------------*/
.ContinueStory{
  font-family: 'Press Start 2P', cursive;
  animation-name: example;
  color: #f4f3ee;
  margin:60px;
  padding-top:400 px;
  list-style-type:none;
  text-align: center;
  font-size: 32px;
  pointer-events: auto;
}

.a2{
  color: #f4f3ee;
  font-size: 22px;
}

.a2:hover{
  font-weight: bold;
  font-size: 30px;
  color: #fff6db;
}
