@charset "utf-8";
/* CSS Document */



body{
  font-family: 'Jost', sans-serif;
  color: #000000;
  line-height: 140%;
  margin: 30px;

  background-image: url("background.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #F7F3DE;
}

header h1{
  font-family: 'Press Start 2P', cursive;
  color: #f4f3ee;
  background-position:center;
}


a{
color: #f4f3ee;
cursor: pointer;

}
