@charset "utf-8";
/* CSS Document */

/*------ BASIC FORMATTING ----------------------------------------------------*/
html{
  margin: 0 auto;
  border: 0 auto;
}


/*------ BLOCKING/LAYOUT -----------------------------------------------------*/
body{
  background-image: url("background.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #F7F3DE;

}

/*------ TYPOGRAPHY ----------------------------------------------------------*/
p{
  font-family: 'Quicksand', sans-serif;
  color: #f4f3ee;
  line-height: 140%;
  margin: 30px;
}


  h1{
    font-family: 'Press Start 2P', cursive;
    color: #f4f3ee;
    background-position:center;
    cursor:default;
    text-align: center;
  }


/*------ OTHER DESGINGING ----------------------------------------------------*/



/*Change all links.*/
  .a1{
  color: #f4f3ee;
  cursor: pointer;
  }

/*Change links with class name a2*/

.a2{
  color: #f4f3ee;
  cursor: pointer;
}


.Choice1{
  font-family: 'Press Start 2P', cursive;
  animation-name: example;
  list-style-type:none;
    margin:100px;
    padding:100px;
    text-align: center;
    font-size: 42px;

}
.Choice2{
  font-family: 'Press Start 2P', cursive;
  animation-name: example;
  list-style-type:none;
    margin:100px;
    padding:100px;
    text-align: center;
    font-size: 42px;

}

a:hover{
  font-weight: bold;
  font-size: 50px;
}

/* This will change the color of the "Continue" when pointer is over it*/
