@charset "utf-8";
/* CSS Document */

/*------ BASIC FORMATTING ----------------------------------------------------*/
html{
  margin: 0 auto;
  border: 0 auto;
}


/*------ BLOCKING/LAYOUT -----------------------------------------------------*/
body{
  background-image: url("twinkle.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #F7F3DE;

}

/*------ TYPOGRAPHY ----------------------------------------------------------*/
article{
  font-family: 'Quicksand', sans-serif;
  color: #f4f3ee;
  line-height: 140%;
  margin: 30px;
}

h1{
  font-family: 'Press Start 2P', cursive;
  color: #f4f3ee;
  background-position:center;
  cursor:default;
  text-align: center;
  font-size: 70px;
}

.BubbleStart{
  z-index: 99999;
}

/*------ OTHER DESGINGING ----------------------------------------------------*/



/*Change all links.*/
.a1{
  color: #f4f3ee;
  cursor: pointer;
}

/*Change links with class name a2*/

.a2{
  color: #f4f3ee;
  cursor: pointer;
}


.Choice1{
  font-family: 'Press Start 2P', cursive;
  animation-name: example;
  margin:60px;
  padding:100px;
  text-align: center;
  font-size: 32px;
}

.Choice2{
  font-family: 'Press Start 2P', cursive;
  animation-name: example;
  margin:60px;
  padding:100px;
  list-style-type:none;
  text-align: center;
  font-size: 32px;
  pointer-events: auto;
}

a:hover{
  font-weight: bold;
  font-size: 40px;
}

/* This will change the color of the "Continue" when pointer is over it*/
